
<h1>Author Index</h1>

<table>

<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Year Born</th>
  <th>Action</th>
</tr>

<% @authors.each do |author| %>
<tr>
<td><%= author.first_name %></td>
<td><%= author.last_name %></td>
<td><%= author.year_born %></td>
<td>[<%= link_to "delete", author_path(author), method: :delete %>]</td>
</tr>
<% end %>

</table>

<p>
  <%= link_to "Create Author", new_author_path %>
</p>
