
<h1>Create Author</h1>

<%= form_for(@author) do |f| %>

<p>
<%= f.label :first_name %>: 
<%= f.text_field :first_name %>
</p>

<p>
<%= f.label :last_name %>:
<%= f.text_field :last_name %>
</p>

<p>
<%= f.label :year_born %>:
<%= f.text_field :year_born %>
</p>

<p>
<%= f.submit %>
</p>
<% end %>
